In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('NC_Providers.csv')
df.head()

       PWSID         Water System     Ownership
0  00-00-007    Z Mayberry (test)  Municipality
1  01-00-010           Burnsville  Municipality
2  01-02-010         Taylorsville  Municipality
3  01-02-015  Energy United Water    Non-Profit
4  01-02-020  Alexander County WD        County

In [11]:
wsList = df['Water System'].unique().tolist()
wsList.sort()

In [12]:
df[df['Water System'] == 'Durham']

         PWSID Water System     Ownership
230  03-32-010       Durham  Municipality